@using WoL.Models.ViewModels

@switch (Status)
{
    case HostViewModel.HostStatus.Loading:
        if (SpinnerIfLoading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        }
        else
        {
            @:&nbsp;
        }
        break;
    case HostViewModel.HostStatus.Online:
        <span class="badge badge-success">Online</span>
        break;
    case HostViewModel.HostStatus.Unreachable:
        <span class="badge badge-danger">Offline</span>
        break;
    case HostViewModel.HostStatus.NoHostname:
        <span>n/a</span>
        break;
    case HostViewModel.HostStatus.HostnameInvalid:
        <span class="text-danger">Invalid hostname</span>
        break;
}

@code {
    [Parameter]
    public HostViewModel.HostStatus Status { get; set; }

    [Parameter]
    public bool SpinnerIfLoading { get; set; } = true;
}
