@page "/DeleteHost/{Id:int}"

@using WoL.Data
@using WoL.Models
@using WoL.Services
@using WoL.Extensions
@using Microsoft.Extensions.Logging
@inject IHostService HostService
@inject IAddressLookupService AddressService
@inject NavigationManager NavigationManager
@inject ILogger<DeleteHost> L

<div class="container">
    <h2>Delete Host</h2>

    <hr />

    <p>
        Are you sure you want to delete this host?
    </p>

    @if (model != null)
    {
        <div class="col-lg-8 col-xl-6">
            <dl class="row">
                <dt class="col-sm-4">
                    Title
                </dt>
                <dd class="col-sm-8">
                    @model.Caption
                </dd>
                <dt class="col-sm-4">
                    Mac Address
                </dt>
                <dd class="col-sm-8">
                    @model.GetMacString()
                </dd>
                <dt class="col-sm-4">
                    Hostname
                </dt>
                <dd class="col-sm-8">
                    @model.Hostname
                </dd>
            </dl>

            <div>

                @if (Deleting)
                {
                    <button class="btn btn-danger" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Deleting...
                    </button>
                }
                else
                {
                    <button class="btn btn-danger" @onclick="Delete">Delete</button>
                } |
                <a href="">
                    Back to List
                </a>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    Host model;
    bool Deleting = false;

    protected override async Task OnParametersSetAsync()
    {
        model = await HostService.Find(Id);
    }

    private async Task Delete()
    {
        Deleting = true;
        await HostService.Delete(Id);
        L.HostDeleted(model);
        NavigationManager.NavigateTo("/");
    }
}
