@page "/Wake/{Id:int}"

@using WoL.Data
@using WoL.Models
@using WoL.Models.ViewModels
@using WoL.Services
@using WoL.Extensions
@inject IHostService HostService
@inject IWakeService WakeService
@inject NavigationManager NavigationManager

<h3>Wake</h3>

<hr />

@if (host != null)
{
    <div class="col-lg-8">
        <dl class="row">
            <dt class="col-sm-2">
                Title
            </dt>
            <dd class="col-sm-10">
                @host.Caption
            </dd>
            <dt class="col-sm-2">
                Mac Address
            </dt>
            <dd class="col-sm-10">
                @host.GetMacString()
            </dd>
            <dt class="col-sm-2">
                Hostname
            </dt>
            <dd class="col-sm-10">
                @host.Hostname
            </dd>
        </dl>

        <div>
            <p>
                @status
            </p>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    Host host;

    string status = "";

    protected override async Task OnParametersSetAsync()
    {
        host = await HostService.Find(Id);
        status = "Sending wake-up packet...";
        await WakeService.WakeAsync(host.MacAddress);
        status = "Wake-up packet sent.";
    }

    private async Task Delete()
    {
        await HostService.Delete(Id);
        NavigationManager.NavigateTo("/");
    }
}
