@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span>
            Created by
            <a href="https://github.com/georg-jung/" target="_blank">Georg Jung</a>
        </span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
